.navbar {
  background: #343a40;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px;
}

.navbar__title {
  font-size: 24px;
  color: #fff;
  letter-spacing: 2.4px;
  font-family: sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.menu__links {
  list-style-type: none;
  margin: 0 20px;
}

.menu__link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}

.menu__link:hover {
  color: #bdbfc2;
}
